<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ client }}</title>
</head>

<body background=
"https://upload.wikimedia.org/wikipedia/commons/6/6b/Logo_de_Voies_navigables_de_France.jpg"
      style="background-repeat: no-repeat;
             background-size: cover;
             background-attachment: fixed;">
    <h1 style="color: green;
               text-align: center;">
        Welcome {{ client }}
    </h1>
</body>

</html>
